# Conhecendo o Python

Bem vindo ao estudo da linguagem Python

Podemos usar fórmulas matemáticas com o Markdown

$$ \int_a^{b}
---

In [53]:
x = 1
y = 0.1234

print("x vale ", x)
print("y vale ", y)

x vale  1
y vale  0.1234

In [54]:
x+y

1.1234

In [55]:
x = 'Data'
y = 'Science'

print(x,y)

Data Science

In [56]:
True + True + False

2

In [57]:
None

## Conhecendo os tipos

In [58]:
teste = 1.00
teste1 = 1
teste2 = [1,2,3]
teste3 = (1,2,3)
teste4 = {1,2,3}
teste5 = {'a':1, 'b':2, 'c':3}
print(type(teste))
print(type(teste1))
print(type(teste2))
print(type(teste3))
print(type(teste4))
print(type(teste5))

<class 'float'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [59]:
for var in [teste, teste1, teste2, teste3, teste4, teste5]:
    print(type(var))

<class 'float'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

## Trabalhando com o Pandas

In [60]:
import pandas as pd
import numpy as np

serie = pd.Series([3,7,5,6,"teste", 8, np.nan])
serie

0        3
1        7
2        5
3        6
4    teste
5        8
6      NaN
dtype: object

In [61]:
serie.head(3)

0    3
1    7
2    5
dtype: object

In [62]:
serie.tail(2)

5      8
6    NaN
dtype: object

In [63]:
serie.dtype

dtype('O')

In [64]:
serie.index

RangeIndex(start=0, stop=7, step=1)

In [65]:
serie.isnull()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [66]:
serie[serie.isnull()]

6    NaN
dtype: object

In [67]:
serie.value_counts()

3        1
7        1
5        1
6        1
teste    1
8        1
Name: count, dtype: int64

In [71]:
data_int = pd.date_range("2025-01-01", periods=6, freq="ME")

In [73]:
data_br = data_int.strftime("%d/%m/%Y")

data_br

Index(['31/01/2025', '28/02/2025', '31/03/2025', '30/04/2025', '31/05/2025',
       '30/06/2025'],
      dtype='object')

In [74]:
type(data_br[0])

str

In [77]:
df = pd.DataFrame(
    np.random.randint(1,5,size=(6,4)),
    index=data_br,
    columns=["A", "B", "C", "D"])

df

            A  B  C  D
31/01/2025  4  3  3  1
28/02/2025  2  1  3  4
31/03/2025  4  4  2  3
30/04/2025  1  3  1  2
31/05/2025  4  2  1  1
30/06/2025  4  4  1  3

In [78]:
df.head(3)

            A  B  C  D
31/01/2025  4  3  3  1
28/02/2025  2  1  3  4
31/03/2025  4  4  2  3

In [80]:
df.columns = ["Coluna A", "Coluna B", "Coluna C", "Coluna D"]
df

            Coluna A  Coluna B  Coluna C  Coluna D
31/01/2025         4         3         3         1
28/02/2025         2         1         3         4
31/03/2025         4         4         2         3
30/04/2025         1         3         1         2
31/05/2025         4         2         1         1
30/06/2025         4         4         1         3

In [85]:
df['Coluna E'] = pd.Series([1,2,3,4,5,6], index=data_br)
df

            Coluna A  Coluna B  Coluna C  Coluna D  Coluna5  Coluna E
31/01/2025         4         3         3         1        1         1
28/02/2025         2         1         3         4        2         2
31/03/2025         4         4         2         3        3         3
30/04/2025         1         3         1         2        4         4
31/05/2025         4         2         1         1        5         5
30/06/2025         4         4         1         3        6         6

In [86]:
df.describe()

       Coluna A  Coluna B  Coluna C  Coluna D   Coluna5  Coluna E
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   3.166667  2.833333  1.833333  2.333333  3.500000  3.500000
std    1.329160  1.169045  0.983192  1.211060  1.870829  1.870829
min    1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
25%    2.500000  2.250000  1.000000  1.250000  2.250000  2.250000
50%    4.000000  3.000000  1.500000  2.500000  3.500000  3.500000
75%    4.000000  3.750000  2.750000  3.000000  4.750000  4.750000
max    4.000000  4.000000  3.000000  4.000000  6.000000  6.000000

In [87]:
df['Coluna F'] = pd.Series(['a','b', 'c','d','e','f'], index=data_br)
df

            Coluna A  Coluna B  Coluna C  Coluna D  Coluna5  Coluna E Coluna F
31/01/2025         4         3         3         1        1         1        a
28/02/2025         2         1         3         4        2         2        b
31/03/2025         4         4         2         3        3         3        c
30/04/2025         1         3         1         2        4         4        d
31/05/2025         4         2         1         1        5         5        e
30/06/2025         4         4         1         3        6         6        f

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 31/01/2025 to 30/06/2025
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Coluna A  6 non-null      int32
 1   Coluna B  6 non-null      int32
 2   Coluna C  6 non-null      int32
 3   Coluna D  6 non-null      int32
 4   Coluna5   6 non-null      int64
 5   Coluna E  6 non-null      int64
 6   Coluna F  6 non-null      object
dtypes: int32(4), int64(2), object(1)
memory usage: 460.0+ bytes

In [91]:
df.describe(include='O')

       Coluna F
count         6
unique        6
top           a
freq          1